<div class="jumbotron-family">
  <div>
    <div><h1 class="new-athlete">For the <span>love</span> of his game</h1></div>
  </div>
</div>
<div class="container">
  <div class="new-athlete"><h1>My Family</h1></div>

  <form ng-submit="$ctrl.saveAthlete()">
    <div class="form-group">
      <div>Athlete Name: {{$ctrl.athlete.name}}</div>
    </div>
    <div class="form-group">
      <div>Athlete Name: {{$ctrl.athlete.school}}</div>
    </div>
    <div class="form-group">
      <div>Athlete Name: {{$ctrl.athlete.team}}</div>
    </div>
    <div class="form-group">
      <label for="Position">Relationship:</label>
      <input ng-model="$ctrl.family.relationship" type="text" class="form-control" id="relationship" placeholder="Enter relationship">
    </div>
    <div class="family-buttons">
      <button class="family-update-button" ui-sref="editAthlete({id: $ctrl.athlete.id})">Update</button>
      <button class="family-delete-button" ng-click="$ctrl.deleteAthlete($ctrl.athlete.id)">Delete</button>
    </div>
  </form>
</div>
