<h1>Athletes</h1>

<div class="btn btn-large" ui-sref="newFamily">+ New Family</div>
<div class="family-container flex">
  <div class="family flex" ng-repeat="family in $ctrl.families">
    <!-- <img ng-src={{athlete.photo}}></img> -->
    <div class="info">
      <h4 ui-sref="showFamily({id: family.id})">Family Name: {{family.name}}</h4>
      <div>Relationship: {{family.relationship}}</div>
      <div>School Name: {{family.school}}</div>
      <button ui-sref="editFamily({id: family.id})">Edit Family</button>
    </div>
  </div>
</div>

