<div id="home-view-container">
    <div class="container">
        <div class="index-header">
            <h1 class="home-header">For the love of his game</h1>
            <img src="http://maxpreps.cbsistatic.com/includes/images/sport_icons/football.jpg">
            <p>Bringing the love of football with families around the world </p>
            <p>
                <a class="btn btn-primary btn-lg" href="/athletes"></a>
            </p>

        </div>
    </div>
</div>

