<div class="jumbotron">
  <div>
    <div><h1 class="index-athlete">For the <span>love</span> of his game</h1></div>
    <div class="btn btn-large" ui-sref="newAthlete">+ Add New Athlete</div>
  </div>
</div>

<div class="athlete-container flex">
  <div class="athlete flex" ng-repeat="athlete in $ctrl.athletes">
    <div class="info">
      <h4 ui-sref="showAthlete({id: athlete.id})">Athlete Name: {{athlete.name}}</h4>
        <div>School Name: {{athlete.school}}</div>
        <div>Jersey Number: {{athlete.jeresey_number}}</div>
        <div>Position: {{athlete.position}}</div>
        <div>Class of: {{athlete.class_of}}</div>
        <div>Team Name: {{athlete.team}}</div>
        <div class="athlete-button"><button ui-sref="editAthlete({id: athlete.id})">Edit Athlete</button></div>
    </div>
  </div>
</div>

