<h1>Athletes</h1>

<div class="btn btn-large" ui-sref="newAthlete">+ New Athlete</div>
<div class="athlete-container flex">
  <div class="athlete flex" ng-repeat="athlete in $ctrl.athletes" ui-sref"athlete({id: athlete.id})">
    <img ng-src={{athlete.photo}}></img>
    <div class="info">
      <h4>{{athlete.name}}</h4>
      <div>{{athlete.school}}</div>
      <div>{{athlete.jersey_number}}</div>
      <div>{{athlete.position}}</div>
      <div>{{athlete.class_of}}</div>
      <div>{{athlete.team}}</div>
    </div>
  </div>
</div>
