// Place all the styles related to the athletes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  background-repeat: no-repeat;
  background-image: url('http://i.imgur.com/KrpHPSF.png');
  background-size: cover;
  margin-bottom: 70px;
  padding-left: 10px;
  padding-bottom: 80px;
  font-family: 'Rakkas', cursive;
  color: rgba(0, 0, 0, 0.6);
  font-size: 40px;
}

.btn-large {
  color: white;
  font-size: 25px;
  margin-top: 120px;
  padding: 5px;
}

.info {
  background-color: Beige;
  font-size: 20px;
  padding-left: 10px;
}

.athlete-button {
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100px;
  background-color: red;
  font-family: 'Rakkas', cursive;
  font-size: 15 px;
}

.jumbotron-new {
  background-repeat: no-repeat;
  background-image: url('https://timedotcom.files.wordpress.com/2016/04/nfl-football-helmet.jpg?quality=85');
  background-size: cover;
  font-family: 'Rakkas', cursive;
  color: rgba(0, 0, 0, 0.6);
  font-size: 40px;
  margin-bottom: 30px;
  padding-left: 10px;
  height: 300px;
}

.form-group {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.new-athlete{
  padding-left: 20px;
  font-family: 'Rakkas', cursive;
}

input {
  padding: 10px 20px;
  width: 320px;
  border-radius: 8px;
}

.new-family {
  display: flex;
  justify-content: left;
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 22px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

select {
  width: 170px;
}

.new-button {
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 650px;
  width: 150px;
  height: 50px;
  background-color: red;
  font-size: 20px;
  font-family: 'Rakkas', cursive;
}

.jumbotron-edit {
  background-repeat: no-repeat;
  background-image: url('https://timedotcom.files.wordpress.com/2016/04/nfl-football-helmet.jpg?quality=85');
  background-size: cover;
  font-family: 'Rakkas', cursive;
  color: rgba(0, 0, 0, 0.6);
  font-size: 40px;
  margin-bottom: 30px;
  padding-left: 10px;
  height: 300px;
}

.edit-athlete {
  padding-left: 20px;
  font-family: 'Rakkas', cursive;
}

.edit-submit-button {
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 650px;
  width: 150px;
  height: 50px;
  background-color: red;
  font-size: 20px;
  font-family: 'Rakkas', cursive;

}
