// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-view-container {
    background-image: url('http://i.imgur.com/0DOMP4b.jpg');
    font-family: 'Rakkas', cursive;
    background-size: cover;
    margin: 0;
    height: 100%;

}

.home-header {
    color: rgba(0, 0, 0, 0.6);
    font-size: 7em;
    margin: 0;
}

.index-header {
    font-size: 20px;
    line-height: 11em;
    text-align: center;
}

span {
  color: red;
}

p {
  color: black;
}

.home-button {
  width: 20em;
  height: 30px;
  border-radius: 20%;
  background-color: red;
}
